[submodule "mathiasbynens-dotfiles"]
	path = mathiasbynens-dotfiles
	url = https://github.com/mathiasbynens/dotfiles.git
[submodule "dracula-terminal-app"]
	path = dracula-terminal-app
	url = https://github.com/dracula/terminal.app.git
